.Icon{
    padding: 4px;
    height: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5px;
}

.Icon img{
    height:100%;
}

@media (max-width: 450px) {
    .Icon {
        padding: 6px;
        height: 100%;
    }
}